
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  text-align: justify;
  border-left: 100px;
  border-right: 25px;
}

#botao-contato{
     color: #1c3d26;
     border: 2px solid #1c3d26;
 }

#botao-contato:hover{
    color: white;
    background-color: #1c3d26;
    }

.btn {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  text-align: justify;

}

footer {
    padding: 25px;
  background-color: #6c757d;
  

}

.leiamais{
  color: #46537c;
  font-size: bold;
  text-align: right;
  align-items: center;
  border: 2x solid #1c3d26;
  padding: 5px;
  
}

.leiamais:hover{
  background-color: #46537c;
  color: white;
}

 a{
    text-decoration: none;
    color: #1c3d26;
 }

a:hover{
    color:#1c3d26;
}

.texto-footer{
    color: #1c3d26;
}
ul {
  list-style: none;
  position: center;
}

h1 {
  position: center;
  text-align: center;
}

.cong {
  text-align: center;
}
/*Estilização página "sobre"*/
#botao-sobre{
    color: #1c3d26;
    border: 2px solid #1c3d26;
}

#botao-sobre:hover{
    color: white;
    background-color: #1c3d26;
}
